{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block content %}
<!-- Log in -->
<section class="container-fluid">
  <div class="row align-items-center">
    <!-- Form Panel-->
    <div class="col-md-6 order-1 order-md-2 text-panel">
      <div class="row align-items-center justify-content-center">
        <h2>{% trans "Sign up" %}</h2>
      </div>
      <div class="row align-items-center">
        <div class="col-10 offset-1">

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit" class="btn btn-primary">{% trans "Sign Up" %} &raquo;</button>
</form>

</div>
</div>
</div>
<!-- Image Panel -->
<div class="col-md-6 px-0 order-2 order-md-1">
<img src="{% static 'images/theatre-seats.png' %}" aria-hidden="true" class="img-fluid">
</div>
</div>

<!-- Brief About -->
<div class="row align-items-center">
<!-- About Panel-->
<div class="col-md-6 text-panel">
<div class="row align-items-center justify-content-center">
  <h2>About</h2>
</div>
<div class="row align-items-center">
  <div class="col-10 offset-1">
    Brief about text here.
  </div>
</div>
</div>
<!-- Image Panel-->
<div class="col-md-6 px-0">
<img src="{% static '/images/cast-reading.jpg' %}" aria-hidden="true" class="img-fluid">
</div>
</div>
</section>

{% endblock %}
