body {
    background: #fafafa;
    padding-top: 50px;
    font-family: "Nunito", sans-serif;
}

/* Sign-in Page */
.text-panel {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* Navbar and Footer */
.main-navbar {
    font-size: 1.2rem;
    font-weight: 100;
    text-transform: uppercase;
}

footer {
    color: #474646;
    font-size: .75rem;
    height: 50px;
    padding-top: 20px;
}

/* Profile Styles */
.avatar {
    border: 1px solid rgb(109, 109, 109);
    border-radius: 50%;
    overflow: hidden;
}

.profile-avatar {
    width: 85%;
}