body {
    background: #fafafa;
    padding-top: 50px;
    font-family: "Nunito", sans-serif;
}

/* Site Custom Properties & Branding */
a {
    color: var(--accent2);
}
:root {
    --accent1: #651049;
    --accent2: rgb(164, 129, 197);
}

.accent1 {
    color: var(--accent1)
}

.btn-primary {
    border-color: var(--accent1);
    color: var(--accent1);
    background-color: #fafafa;
}

.btn-light {
    border-color: --accent2;
}

/* SIGN-IN PAGE */
.text-panel {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* NAVBAR & FOOTER */
.main-navbar {
    font-size: 1.2rem;
    font-weight: 100;
    text-transform: uppercase;
}

.nav-link > i {
    color: var(--accent1);
}

.navbar-brand {
    text-decoration: underline;
    text-decoration-color: var(--accent1);
}

footer {
    color: #474646;
    font-size: .75rem;
    height: 50px;
    padding-top: 20px;
}

/* HEADINGS */

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.2rem;
}

/* PROFILE STYLES */
.avatar {
    border: 1px solid rgb(109, 109, 109);
    border-radius: 50%;
    overflow: hidden;
}

.profile-avatar {
    width: 85%;
}

#social-links,
#social-links a {
    background-color: var(--accent1);
    color: #ffffff;
}

/* Profile: History*/

.history-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #000000;
    border-left: 1px solid;
}

.history-item p {
    /* e.g. role */
    margin: 0;
    padding: 0;
}

.history-item-year {
    color: var(--accent1);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-weight: 500;
    font-size: .8em;
    margin: 0;
    padding: 0;
}

.history-item::after {
    /* history-item year dot */
    content: '';
    width: 14px;
    height: 14px;
    display: block;
    top: 2.5em;
    position: absolute;
    left: -7px;
    border-radius: 50%;
    background: var(--accent1);
}

/* POST/POST-FEED STYLES */
#pagination-nav {
    letter-spacing: 1rem;
    font-weight: 700;
}

/* SETTINGS STYLES */

#avatar-upload {
    max-width: 100%;
    font-size: .9rem
}

#profile-url {
    word-wrap: break-word;
    overflow-wrap: break-word
}

label {
    font-size: 1.1rem;
    letter-spacing: .1rem;
}

/* MESSAGES */
#message-div {
    position: fixed;
    top: 0;
    z-index: 1;
    margin-top: 70px;
    width: 100%;
}