body {
    background: #fafafa;
    padding-top: 50px;
    font-family: "Nunito", sans-serif;
}

.text-panel {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}

footer {
    color: #474646;
    font-size: .75rem;
    height: 50px;
    padding-top: 20px;
}