{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Profile Header-->
<section class="container py-4">
    <div class="row align-items-center mb-2">
        <div class="col-4 col-md-3">
            <img src="../static/images/default-user.jpg" class="profile-avatar avatar mx-2" aria-labelledby="user-full-name">
        </div>
        <div class="col-8 col-md-9">
            <div class="row">
                <div class="col-12">
                    <h2 id="user-full-name">Firstname Lastname</h2>    
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>User Role/Voice</p>
                </div>
            </div>
        </div>
    </div>
    <!-- if social links -->
    <div class="row align-items-center">
        <div class="col-10 offset-1">
            <ul id="social-links" class="list-inline row">
                <li class="col-4">
                    <a href="#" class="px-2">SiteName</a>
                </li>
                <li class="col-4">
                    <a href="#" class="px-2">SiteName</a>
                </li>
                <li class="col-4">
                    <a href="#" class="px-2">SiteName</a>
                </li>
            </ul>
        </div>
    </div>
</section> <!-- End of Profile Header -->
 <!-- Profile Body -->
<section class="container">
    <!-- HISTORY -->
    <section class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-5 order-2 order-md-1">
                <div class="row">
                    <div class="col-12">
                        <h3 class="mb-3 text-uppercase">
                            History
                        </h3>
                    </div>
                </div>
                <div class="mb-4">
                    <!-- for item in history -->
                    <div class="history-item">
                        <p class="history-item-year">2018</p>
                        <h4>Production/Company</h4>
                        <h5>Company/Theatre</h5>
                        <p>Role</p>
                    </div>
                    <div class="history-item">
                        <p class="history-item-year">2019</p>
                        <h4>Production/Company</h4>
                        <h5>Company/Theatre</h5>
                        <p>Role</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-7 order-1 order-md-2">
                <div class="container-fluid">
                    <!-- Bio -->
                    <div class="row">
                        <h3 class="mb-3 text-uppercase">Bio</h3>
                    </div>
                    <div class="row">
                        <p>Content here.</p>
                    </div>
                    <!-- Posts -->
                    <div class="row">
                        <h3 class="mb-3 text-uppercase">
                        Posts
                        </h3>
                    </div>
                    <!-- if posts: for post in posts: -->
                    <div class="row">
                        <div class="col-12 px-0">
                            <!-- Post Template: -->
                            <div class="card mt-2 mb-3 mx-0 shadow rounded">
                                <!-- ROW 1 -->
                                <div class="card-header px-2">
                                    <h5>
                                        <img src="../static/images/default-user.jpg" class="post-avatar avatar" aria-labelledby="post-user-full-name">
                                        <a href="#" id="post-user-full-name">Firstname Lastname</a>
                                    </h5>
                                </div>
                                <!-- ROW 2 (Image in post, if any) -->
                                <img class="card-img-top" src="" alt="" id="post-image">
                                <!-- ROW 3 (Post date and written content) -->
                                <div class="card-body">
                                    <p class="text-right" id="post-date">xx/xx/xxxx</p>
                                    <p class="card-text" id="post-text">Written post content goes here. Written post content goes here. Written post content goes here. Written post content goes here. Written post content goes here. Written post content goes here.</p>
                                    <div class="card-footer">
                                        <div class="row justify-between">
                                            <div class="col-4 col-md-4">Like</div>
                                            <div class="col-6 col-md-4 text-center px-0">Comments</div>
                                            <div class="col-2 col-md-4 text-right"><i class="fas fa-chevron-down"></i>
                                            <!-- Options may include:
                                            share, edit, delete, disable comments, bookmark/save -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end of post template -->
                    </div> <!-- end of 'if posts, for post in posts' -->
                </div>
            </div>
        </div>
    </section>
{% endblock content %}