{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Profile " %}{{user_profile.user.username}}{% endblock %}

{% block content %}
<!-- Profile Header-->
<section class="container py-4">
    <div class="row align-items-center mb-2">
        <div class="col-4 col-md-3">
            <img src="{{ user_profile.avatar.url }}" class="profile-avatar avatar mx-2"
                aria-labelledby="user-full-name">
        </div>
        <div class="col-8 col-md-9">
            <div class="row">
                <div class="col-12">
                    <a href="{{user_profile.user.username}}">
                        <h2 id="user-full-name">{{ user_profile.first_name }} {{ user_profile.last_name }}</h2>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h3>{{ user_profile.role|title }}</h3>
                    <h4>Location: {{ user_profile.location }}</h4>
                </div>
            </div>
            <!-- SOCIAL LINKS -->
            {% if social_links %}
            <div class="row align-items-center">
                <div class="col-12 py-2" id="social-links">
                    <h4>Follow {{ user_profile.first_name }} on:</h4>
                    <div class="row">
                        {% for link in social_links %}
                        <div class="col-xs-12 col-s-6 col-md-4 d-inline">
                            <a href="{{ link.link }}" target="_blank" aria_label="User-created link, opens in a new tab"
                                class="px-2">{{ link.site_name }} <i class="fas fa-external-link-alt"></i></a></div>
                        {% if forloop.counter|divisibleby:3 %}
                    </div>
                    <div class="row">
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}
            <!-- END OF SOCIAL LINKS -->
        </div>
    </div>
</section> <!-- End of Profile Header -->
<!-- Profile Body -->
<div class="container">
    <section class="container-fluid">
        <div class="row">
            <!-- HISTORY -->
            <div class="col-12 col-md-5 order-2 order-md-1">
                <div class="row">
                    <div class="col-12">
                        <h3 class="mb-3 text-uppercase">
                            History
                        </h3>
                    </div>
                </div>
                <div class="mb-4">
                    {% for item in history_items %}
                    <div class="history-item">
                        <p class="history-item-year">{{ item.year }}</p>
                        <h4>{{ item.history_heading }}
                            {% if request.user.username == user_profile.user.username %}
                            <a href="{% url 'delete-item' id=item.id %}"><i class="fas fa-trash-alt"></i></a>
                            {% endif %}
                        </h4>
                        <h5> {{ item.history_details }}</h5>
                        <p> {{ item.history_role }}</p>
                    </div>
                    {% endfor %}
                    <div class="history-item">
                        <p class="history-item-year">2019</p>
                        <h4>Production/Company</h4>
                        <h5>Company/Theatre</h5>
                        <p>Role</p>
                    </div>
                    {% if request.user.username == user_profile.user.username %}
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary my-2" data-toggle="modal"
                        data-target="#addHistoryModal">Add/Edit Item(s)</button>
                    {% endif %}

                </div>
            </div>
            <div class="col-12 col-md-7 order-1 order-md-2">
                <div class="container-fluid">
                    <!-- BIO -->
                    <div class="row">
                        <h3 class="mb-3 text-uppercase">Bio</h3>
                    </div>
                    <div class="row">
                        <p>{{user_profile.bio}}</p>
                    </div>
                    <!-- POSTS -->
                    <div class="row">
                        <h3 class="mb-3 text-uppercase">
                            {{ num_user_posts }} Posts
                        </h3>
                    </div>
                    {% if num_user_posts > 0 %}
                    {% for post in user_posts %}
                    <!-- Post Template: -->
                    <div class="card mt-4 mb-2 shadow rounded container">
                        <!-- ROW 1 -->
                        <a href="/profile/{{post.user}}" aria-label="Open user's profile">
                            <div class="card-header px-2 row align-items-center">
                                <div class="col-4 col-md-2 col-lg-1">
                                    <img src="{{ user_profile.avatar.url }}" class="post-avatar avatar img-fluid" aria-labelledby="post-user-full-name">
                                </div>
                                <div class="col-8 col-md-10 col-lg-11">
                                    <div class="row d-flex justify-content-between">
                                        <h5 class="col-12 col-md-6">{{ user_profile.first_name }} {{ user_profile.last_name }}</h5>
                                        <h5 class="col-12 col-md-6 text-right">(@{{ post.user }})</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <!-- ROW 2 (Image in post, if any) -->
                        {% if post.post_image %}
                        <img class="card-img-top" src="{{ post.post_image.url }}" alt="" id="post-image">
                        {% endif %}
                        <!-- ROW 3 (Post date and written content) -->
                        <div class="card-body">
                            <p class="text-right" id="post-date">{{ post.created_at }}</p>
                            <p class="card-text" id="post-text">{{ post.post_text }} </p>
                            <div class="card-footer">
                                <div class="row justify-content-between">
                                    <div class="col-4 col-md-4">
                                        <a href="/post-applause?post_id={{ post.id }}"><i class="fas fa-sign-language"></i></a> {{ post.no_of_applause }} applause</div>
                                    <div class="col-6 col-md-4 text-center px-0">Comments</div>
                                    <div class="col-2 col-md-4 text-right"><i class="fas fa-chevron-down"></i>
                                    <!-- Options may include:
                                    share, edit, delete, disable comments, bookmark/save -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- End of post template: -->
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
</div>
    <section>
        <!-- Add History Item Modal -->
        <div class="modal fade" id="addHistoryModal" tabindex="-1" role="dialog" aria-labelledby="addHistoryModalInner"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h5 class="modal-title" id="addHistoryModalInner">Add Role:</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body row justify-content-center">
                            <div class="col-12 mb-2">
                                <label for="history-heading">Heading <i class="fas fa-info-circle" data-toggle="tooltip"
                                        data-placement="right" title="e.g. school name or theatre company"></i></label>
                                <input type="text" maxlength="150" placeholder="" name="history_heading"
                                    id="history-heading" required>
                            </div>
                            <div class="col-12 mb-2">
                                <label for="history-details">Details <i class="fas fa-info-circle" data-toggle="tooltip"
                                        data-placement="right" title="e.g. production title"></i></label>
                                <input type="text" maxlength="150" placeholder="" name="history_details"
                                    id="history-details">
                            </div>
                            <div class="col-12 mb-2">
                                <label for="history-role">Role <i class="fas fa-info-circle" data-toggle="tooltip"
                                        data-placement="right" title="Role or occupation"></i></label>
                                <input type="text" maxlength="150" placeholder="" name="history_role" id="history-role"
                                    required>
                            </div>
                            <div class="col-12 mb-2">
                                <label for="year">Year:</label>
                                <select name="year" id="year" required>
                                    {% for id, year in YEAR_CHOICES %}
                                    <option value="{{ id }}">{{ year }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- End Add History Modal -->
    </section>
    {% endblock content %}