{% extends 'base.html' %}
{% load static %}
{% load i18n %}

<title>{% block head_title %}{% trans "Account Settings" %}{% endblock %}</title>

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="scol-12">
            <h2><a href="{% url 'index' %}">Home</a> / Settings</h2>
                <h3>{{user_profile.first_name}} {{user_profile.last_name}}</h3>
            <hr>
        </div>
    </div>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- Your Details -->
        <div class="col-12">
            <div>
                <h3 class="mb-2">Your Details</h3>
            </div>
            <div class="shadow p-3 mb-4 bg-white rounded">
                <div class="row px-3">
                    <div class="col-12 col-md-6 justify-content-center px-0">
                        <div class="col-12 mb-2">
                            <label for="first-name">First Name</label>
                            <input type="text" name="first_name" id="first-name" value="{{user_profile.first_name}}">
                        </div>
                        <div class="col-12 mb-2">
                            <label for="last-name">Last Name</label>
                            <input type="text" name="last_name" id="last-name" value="{{user_profile.last_name}}">
                        </div>
                    </div>

                    <div class="col-12 col-md-6 justify-content-center px-0">
                        <div class="col-12 mb-2">
                            <label for="username">Username</label>
                            <input type="text" name="username" id="username" value="{{user.username}}" disabled>
                        </div>
                        <div class="col-12 mb-2">
                            <p id="profile-url" >Your url:  www.site.com/<strong>{{user.username}}</strong></p>
                        </div>
                    </div>


                    <div class="col-12 col-md-6 justify-content-center px-0 mb-2">
                            <label for="location">Location</label>
                            <input type="text" name="location" id="location" value="{{user_profile.location}}">
                    </div>

                    <div class="col-12 col-md-6 justify-content-center px-0 mb-2">
                        <label for="link1">Link:</label>
                        <input type="text" name="link1" id="link1" value="{{user_profile.link1}}">
                        <label for="link2">Link:</label>
                        <input type="text" name="link2" id="link2" value="{{user_profile.link2}}">
                        <label for="link1">Link:</label>
                        <input type="text" name="link3" id="link3" value="{{user_profile.link3}}">
                    </div>

                    <!-- <div class="col-12 col-md-6 justify-content-center px-0"> -->
                        <!-- role selection: may remove. Unlikely to change post-registration -->
                        <!-- <div class="col-12 mb-1">
                            <label for="role">Role</label>
                        </div>
                        <div class="col-12 mb-1">
                            <select id="role" name="role" id="role" value="{--}">
                                <option disabled selected value> -- select an option -- </option>
                                <optgroup label="Vocal Performer:">
                                    <option value="soprano">Soprano</option>
                                    <option value="mezzo-soprano">Mezzo-Soprano</option>
                                    <option value="contralto">Contralto</option>
                                    <option value="tenor">Tenor</option>
                                    <option value="baritone">Baritone</option>
                                    <option value="bass">Bass</option>
                                </optgroup>
                                <optgroup label="Other:">
                                    <option value="non-vocal-performer">Non-Vocal Performer</option>
                                    <option value="non-performer">Non-performer</option>
                                </optgroup>
                            </select>
                        </div>
                    </div> end of role selection -->
                </div>
            </div>
        </div> <!-- end of 'your details' -->
        <!-- Profile Basics -->
        <div class="col-12">
            <div>
                <h3 class="mb-2">Profile Basics</h3>
            </div>
            <div class="shadow p-3 mb-4 bg-white rounded">
                    {% csrf_token %}
                    <div class="row px-3">
                        <div class="col-12 col-md-6 justify-content-center px-0">
                            <div class="col-12 mb-1">
                                <label for="avatar-upload">Profile Image</label>
                                <img width="100" height="100" src="{{ user_profile.avatar.url }}"/>
                            </div>
                            <div class="col-12">
                                <input type="file" name="avatar" id="avatar-upload" value="">
                            </div>
                        </div>

                        <div class="col-12 col-md-6 justify-content-center px-0">
                            <div class="col-12 mb-1">
                                <label for="bio">Bio</label>
                            </div>
                            <div class="col-12 mb-1">
                                <textarea id="bio" name="bio" rows="4">{{user_profile.bio}}</textarea>
                            </div>
                        </div>
                    </div>
                    <!-- social links -->
                    <!-- save/cancel -->
            </div>
        </div> <!-- end of profile basics -->
        <!-- history section -->
        <!-- save/cancel -->
        <!-- history section -->
        <button class="btn btn-primary" type="submit">{% trans "Save" %}</button>
        <button class="btn btn-light"><a href="{% url 'index' %}">{% trans "Cancel" %}</a></button>
    </form>
</div>
{% endblock content %}