{% extends 'base.html' %}
{% load static %}
{% load i18n %}

<title>{% block head_title %}{% trans "Account Settings" %}{% endblock %}</title>

{% block content %}
<div class="container-fluid light-weight">
    <div class="row">
        <div class="col-12">
            <h2><a href="{% url 'index' %}">Home</a> / Settings</h2>
                <h3>{{user_profile.first_name}} {{user_profile.last_name}}</h3>
            <hr>
        </div>
    </div>
        <!-- Your Details -->
    <div class="col-12">
        <div>
            <h3 class="mb-2">Your Details</h3>
        </div>
        <div class="shadow p-3 mb-4 bg-white rounded">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row px-3">
                    <div class="col-12 col-md-6 justify-content-center px-0">
                        <div class="col-12 mb-2 form-group">
                            <label for="first-name">First Name</label>
                            <input type="text" name="first_name" id="first-name" value="{{user_profile.first_name}}" class="form-control">
                        </div>
                        <div class="col-12 mb-2 form-group">
                            <label for="last-name">Last Name</label>
                            <input type="text" name="last_name" id="last-name" value="{{user_profile.last_name}}" class="form-control">
                        </div>
                    </div>
                    <!-- Username subsection -->
                    <div class="col-12 col-md-6 justify-content-center px-0">
                        <div class="col-12 mb-2 form-group">
                            <label for="username">Username</label>
                            <input type="text" name="username" id="username" value="{{user.username}}" class="form-control" disabled>
                        </div>
                        <div class="col-12 mb-2">
                            <p id="profile-url" >Your url:  site.com/profile/<strong>{{user.username}}</strong></p>
                        </div>
                    </div>

                    <!-- Location setting -->
                    <div class="col-12 col-md-6 justify-content-center px-0">
                        <div class="col-12 mb-2 form-group">
                            <label for="location"> Location </label>
                            <input type="text" name="location" id="location" value="{{user_profile.location}}" class="form-control">
                        </div>
                    </div>

                    <!-- Begin Role Selection -->
                    <div class="col-12 col-md-6 justify-content-center px-0 mb-2">
                        <div class="col-12 mb-1 form-group">
                            <label for="role">Role </label>
                            <select id="role" name="role" value="{{user_profile.role}}" class="form-control" required>
                                {% if user_profile.role == None %}
                                <option disabled selected value> -- select an option -- </option>
                                {% endif %}
                                <optgroup label="Vocal Performer:">
                                    <option value="soprano" {% if user_profile.role == "soprano" %}selected{% endif %}>Soprano</option>
                                    <option value="mezzo-soprano" {% if user_profile.role == "mezzo-soprano" %}selected{% endif %}>Mezzo-Soprano</option>
                                    <option value="contralto" {% if user_profile.role == "contralto" %}selected{% endif %}>Contralto</option>
                                    <option value="tenor" {% if user_profile.role == "tenor" %}selected{% endif %}>Tenor</option>
                                    <option value="baritone" {% if user_profile.role == "baritone" %}selected{% endif %}>Baritone</option>
                                    <option value="bass" {% if user_profile.role == "bass" %}selected{% endif %}>Bass</option>
                                </optgroup>
                                <optgroup label="Other:">
                                    <option value="non-vocal-performer" {% if user_profile.role == "non-vocal-performer" %}selected{% endif %}>Non-Vocal Performer</option>
                                    <option value="non-performer" {% if user_profile.role == "non-performer" %}selected{% endif %}>Non-performer</option>
                                </optgroup>
                            </select>
                        </div>
                    </div>
                    <!-- end of role selection -->
                </div>
                <div class="row px-3">
                    <div class="col-12 col-md-6 justify-content-center px-0 form-group">
                        <div class="col-12 mb-1">
                            <label for="avatar-upload">Avatar </label>
                        </div>
                        <div class="col-12">
                            <img width="120" height="auto" src="{{ user_profile.avatar.url }}"/>
                            <input class="mt-1 mb-1 form-control" type="file" name="avatar" id="avatar-upload" value="">
                        </div>
                    </div>

                    <div class="col-12 col-md-6 justify-content-center px-0 form-group">
                        <div class="col-12">
                            <label for="bio">Bio </label>
                        </div>
                        <div class="col-12 mb-1">
                            <textarea id="bio" name="bio" rows="4" class="form-control">{{user_profile.bio}}</textarea>
                        </div>
                    </div>
                </div>
                <!-- save/cancel button area -->
                <div class="row justify-content-center align-items-center">
                    <button class="btn btn-primary my-3 mx-2" type="submit">{% trans "Save Details" %}</button>
                    <button class="btn btn-light my-3 mx-2"><a href="{% url 'index' %}">{% trans "Cancel" %}</a></button>
                </div>
            </form>
        </div>
    </div>
        <!-- end of 'your details' -->
        <!-- Social Links -->
        <div class="col-12">
            <div>
                <h3 class="mb-2">Social Links</h3>
            </div>
            <div class="shadow p-3 mb-4 bg-white rounded">
                    <div class="row justify-content-center px-0 mt-4 mb-2">
                        <form action="" method="POST" class="col-12 col-md-9 col-l-6">
                            {% csrf_token %}
                            <p class="text-center">Promote your website and other users know where they can find you and your work online.</p>
                            {% for link in social_links %}
                                <li class="no-bullet py-1 d-flex justify-content-center border-bottom">
                                    <div class="col-9 col-md-9 d-inline text-right"><a href="{{ link.link }}" target="_blank" aria_label="User-created link, opens in a new tab" class="px-2">{{ link.site_name }}</a></div>
                                    <div class="col-3 col-md-3 d-inline text-left"><a href="{% url 'delete-link' id=link.id %}" aria-label="Click to delete {{ link.site_name }}"><i class="fas fa-trash-alt accent1"></i></a></div>
                                </li>
                                {% endfor %}
                            <div class="row my-4">
                                <div class="col-12 text-center">{{ SocialLinkForm }}</div>
                                <div class="col-12 text-center"><button class="btn btn-primary mx-2" type="submit">{% trans "Save" %}</button>
                                <button class="btn btn-light mx-2"><a href="{% url 'index' %}">{% trans "Cancel" %}</a></button></div>
                                
                                
                            </div>
                        </form>
                    </div>
            </div>
        </div> <!-- end of social links -->

    <!-- could add history section -->


</div>
{% endblock content %}