{% extends 'base.html' %}
{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<!-- Log in -->
<section class="container-fluid">
  <div class="row align-items-center">
    <!-- Form Panel-->
    <div class="col-md-6 order-1 order-md-2 text-panel align-items-center">
      <div class="row align-items-center justify-content-center">
        <h2>{% trans "Sign in" %}</h2>
      </div>
      <div class="row align-items-center">
        <div class="col-10 offset-1">

          <p class="mt-1">If you have not created an account yet, please
            <a href="{% url 'signup' %}">sign up</a> first.</p>

            <form action="" method="POST">
              {% csrf_token %}
              <div class="row">
                <div class="form-group col-12 col-md-10 justify-content-center align-items-center">
                  <label for="username">Username: </label>
                  <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <div class="form-group col-12 col-md-10 justify-content-center align-items-center">
                  <label for="password">Password: </label>
                  <input type="password" class="form-control" id="password" name="password" required>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
          </form>
        </div>
      </div>
    </div>
    <!-- Image Panel -->
    <div class="col-md-6 px-0 order-2 order-md-1">
      <img src="https://res.cloudinary.com/cloud9wastaken/image/upload/v1661089300/static/images/theatre-seats_ikycsx.png" aria-hidden="true" class="img-fluid">
    </div>
  </div>

  <!-- Brief About -->
  <div class="row align-items-center">
    <!-- About Panel-->
    <div class="col-md-6 text-panel">
      <div class="row align-items-center justify-content-center">
        <h2>About</h2>
      </div>
      <div class="row align-items-center">
        <div class="col-10 offset-1">
          Brief about text here.
        </div>
      </div>
    </div>
    <!-- Image Panel-->
    <div class="col-md-6 px-0">
      <img src="https://res.cloudinary.com/cloud9wastaken/image/upload/v1661089282/static/images/cast-reading_zxccsx.jpg" aria-hidden="true" class="img-fluid">
    </div>
  </div>
</section>

{% endblock %}