{% extends 'base.html' %}
{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<section class="container-fluid" tabindex="3">
  <div class="row justify-content-center align-items-center" id="message-div">
    <div class="col-12">
      <div class="alert alert-secondary alert-dismissible fade show d-flex justify-content-between" id="sticky-msg" role="alert">
        <p class="lead">You're already logged in as <a href="/profile/{{ user.username }}">@{{ user.username }}</a>. Would you like to <a href="{% url 'index' %}">view post feed</a> or <a href="{% url 'signout' %}">logout</a> instead?
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
    </div>
  </div>
</section>
{% endif %}

<!-- Log in -->
<section class="container-fluid">
  <div class="row align-items-center">
    <!-- Form Panel-->
    <div class="col-md-6 order-1 order-md-2 text-panel align-items-center">
      <div class="row align-items-center justify-content-center">
        <h2>{% trans "Sign in" %}</h2>
      </div>
      <div class="row align-items-center">
        <div class="col-10 offset-1">

          <p class="mt-1">If you have not created an account yet, please
            <a href="{% url 'signup' %}">sign up</a> first.</p>

            <form action="" method="POST">
              {% csrf_token %}
              <div class="row">
                <div class="form-group col-12 col-md-10 justify-content-center align-items-center">
                  <label for="username">Username: </label>
                  <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <div class="form-group col-12 col-md-10 justify-content-center align-items-center">
                  <label for="password">Password: </label>
                  <input type="password" class="form-control" id="password" name="password" required>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
          </form>
        </div>
      </div>
    </div>
    <!-- Image Panel -->
    <div class="col-md-6 px-0 order-2 order-md-1">
      <img src="https://res.cloudinary.com/cloud9wastaken/image/upload/v1661089300/static/images/theatre-seats_ikycsx.png" aria-hidden="true" class="img-fluid">
    </div>
  </div>

  <!-- About Section -->
  <div class="row align-items-center">
    <!-- About Panel-->
    <div class="col-md-6 text-panel align-content-center">
      <div class="row justify-content-center">
        <h2>About</h2>
      </div>
      <div class="row">
        <div class="col-10 offset-1 pt-2">
          <p class="lead text-justify">A community for performers and others working in the operatic scene on the island of Ireland.</p>
        </div>
      </div>
    </div>
    <!-- Image Panel-->
    <div class="col-md-6 px-0">
      <img
        src="https://res.cloudinary.com/cloud9wastaken/image/upload/v1661089282/static/images/cast-reading_zxccsx.jpg"
        aria-hidden="true" class="img-fluid">
    </div>
  </div>

  <!-- Details Section -->
  <div class="row align-items-center">
    <!-- Detail Panel-->
    <div class="col-md-6 text-panel order-1 order-md-2 align-content-center">
      <div class="row justify-content-center">
        <h2>Stay Connected</h2>
      </div>
      <div class="row">
        <div class="col-10 offset-1 pt-2">
          <p class="lead text-justify"><a href="{% url 'signup' %}">Sign up</a> for the latest posts from your peers. Personalise your profile to share your professional and academic history and more.</p>
        </div>
      </div>
    </div>
    <!-- Image Panel-->
    <div class="col-md-6 px-0 order-2 order-md-1">
      <img
        src="https://res.cloudinary.com/cloud9wastaken/image/upload/v1661303645/static/images/about-image_1_vqj6mp.jpg"
        aria-hidden="true" class="img-fluid">
    </div>
  </div>

</section>

{% endblock %}